@model HospitalProject.Models.GiftShop.ViewModel.BillingList

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Cart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.cart.Total" class="control-label"></label>
                <input name= "Total" asp-for="@Model.cart.Total" class="form-control" />
                <span asp-validation-for="@Model.cart.Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.cart.Paymentmethods" class="control-label"></label>
                <input name= "Paymentmethod" asp-for="@Model.cart.Paymentmethods" class="form-control" />
                <span asp-validation-for="@Model.cart.Paymentmethods" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for ="Billingid" class="control-label"></label>
                <select name="Billingid" class ="form-control">
                 
                    @foreach(var billing in Model.billings)
                    {
                    <option value="@billing.BillingID">@billing.BillingID</option>
                    }

</select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
