@model HospitalProject.Models.ReferAPatient

@{
    ViewData["Title"] = "Details";
}

<h2>Patient Referral</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReferalDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferalDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PatName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OHIP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OHIP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PatAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PatPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PatEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProgReq)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgReq)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrPrimDiag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrPrimDiag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MedHist)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MedHist)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceReq)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceReq)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReferFac)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferFac)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReferPhysName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferPhysName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReferPhysPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferPhysPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReferPhysEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferPhysEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReferAPatientID">Edit</a> |
    <a asp-action="Index">Back</a>
</div>
