@model IEnumerable<HospitalProject.Models.Question>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="pagination">
    @ViewData["PaginationSummary"]
    @Html.ActionLink("Prev",
        "Index",
        "Question",
        new { pagenum= ((int)ViewData["pagenum"]-1)}
        )
    |
    @Html.ActionLink("Next",
        "Index",
        "Question",
        new { pagenum = ((int)ViewData["pagenum"] + 1) }
        )
</div>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.QuestionList)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnswerList)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerList)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuestionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuestionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuestionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
