@model HospitalProject.Models.ViewModels.DoctorsList

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rating.Doctors)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rating.Doctors.DoctorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rating.Feedback)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rating.Feedback)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.rating.RatingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
