@model HospitalProject.Models.ViewModels.DoctorsList

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Doctor.DoctorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Feedback)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Feedback)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RatingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
