@model HospitalProject.Models.ViewModels.DoctorsList

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Rating</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="RatingID" type="hidden" asp-for="@Model.rating.RatingID" />
            <div class="form-group">
                <label for="DoctorID" class="control-label">Doctor Name:</label>

            </div>
            <div class="form-group">
                <label asp-for="@Model.rating.DoctorID" class="control-label"></label>
                <select name="DoctorID" asp-for="@Model.rating.DoctorID" class="form-control" asp-items="ViewBag.DoctorID">
                    @foreach (var doctor in Model.doctors)
                    {
                        if (@Model.rating.RatingID == @doctor.DoctorID)
                        {
                            <option selected="selected" value="@doctor.DoctorID">@doctor.DoctorName</option>
                        }
                        else
                        {
                            <option value="@doctor.DoctorID">@doctor.DoctorName</option>
                        }
                    }
                </select>
                <span asp-validation-for="@Model.rating.DoctorID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.rating.Feedback" class="control-label"></label>
                <input name="Feedback" asp-for="@Model.rating.Feedback" class="form-control" />
                <span asp-validation-for="@Model.rating.Feedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
