@model IEnumerable<HospitalProject.Models.Rating>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="pagination">
    @ViewData["PaginationSummary"]
    @Html.ActionLink("Prev",
        "Index",
        "Rating",
        new { pagenum= ((int)ViewData["pagenum"]-1)}
        )
    |
    @Html.ActionLink("Next",
        "Index",
        "Rating",
        new { pagenum = ((int)ViewData["pagenum"] + 1) }
        )
</div>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Feedback)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctors)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Feedback)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctors.DoctorName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RatingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RatingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RatingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
