@model HospitalProject.Models.JobModels.ViewModels.ApplicationListing

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobApplication</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.jobApplication.applicantName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jobApplication.applicantName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jobApplication.applicantEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jobApplication.applicantEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jobApplication.applicationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jobApplication.applicationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.jobApplication.JobPosting)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.jobApplication.JobPosting.jobTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.jobApplication.jobApplicationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
