@model HospitalProject.Models.Navigation

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Navigation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.navigationName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.navigationName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.navigationURL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.navigationURL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.navigationPosition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.navigationPosition)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.navigationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
