@model HospitalProject.Models.ViewModels.VolunteerPostList

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>VolunteerApplication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="VolunteerAppID" asp-for="@Model.volunteerapplications.VolunteerAppID" />
            <div class="form-group">
                <label asp-for="@Model.volunteerapplications.AppFName" class="control-label"></label>
                <input name="AppFName" asp-for="@Model.volunteerapplications.AppFName" class="form-control" />
                <span asp-validation-for="@Model.volunteerapplications.AppFName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.volunteerapplications.AppLName" class="control-label"></label>
                <input name="AppLName" asp-for="@Model.volunteerapplications.AppLName" class="form-control" />
                <span asp-validation-for="@Model.volunteerapplications.AppLName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.volunteerapplications.Phone" class="control-label"></label>
                <input name="Phone" asp-for="@Model.volunteerapplications.Phone" class="form-control" />
                <span asp-validation-for="@Model.volunteerapplications.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.volunteerapplications.Email" class="control-label"></label>
                <input name="Email" asp-for="@Model.volunteerapplications.Email" class="form-control" />
                <span asp-validation-for="@Model.volunteerapplications.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.volunteerapplications.Age" class="control-label"></label>
                <input name="Age" asp-for="@Model.volunteerapplications.Age" class="form-control" />
                <span asp-validation-for="@Model.volunteerapplications.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.volunteerapplications.Descriptions" class="control-label"></label>
                <input name="Descriptions" asp-for="@Model.volunteerapplications.Descriptions" class="form-control" />
                <span asp-validation-for="@Model.volunteerapplications.Descriptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.volunteerapplications.AppDate" class="control-label"></label>
                <input name="AppDate" asp-for="@Model.volunteerapplications.AppDate" class="form-control" />
                <span asp-validation-for="@Model.volunteerapplications.AppDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="VolunteerPostID" class="control-label">Volunteer Position</label>
                <select name="VolunteerPostID" id="VolunteerPostID" class="form-control">
                    @foreach (var volunteerposts in Model.volunteerposts)
                    {
                        <option value="@volunteerposts.VolunteerPostID">@volunteerposts.Position</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
