@model HospitalProject.Models.DonationModels.ViewModels.DonationFormList

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.donation.donorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.donation.donorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.donation.donorEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.donation.donorEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.donation.isRecurring)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.donation.isRecurring)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.donation.paymentMethod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.donation.paymentMethod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.donation.paymentAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.donation.paymentAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.donation.DonationForm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.donation.DonationForm.charityName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.donation.donationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
