@model HospitalProject.Models.DonationModels.ViewModels.DonationFormList

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Donation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.donation.donationID" />
            <div class="form-group">
                <label asp-for="@Model.donation.donorName" class="control-label"></label>
                <input asp-for="@Model.donation.donorName" class="form-control" />
                <span asp-validation-for="@Model.donation.donorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.donation.donorEmail" class="control-label"></label>
                <input asp-for="@Model.donation.donorEmail" class="form-control" />
                <span asp-validation-for="@Model.donation.donorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.donation.isRecurring" class="control-label"></label>
                <select asp-for="@Model.donation.isRecurring" class="form-control">
                    @if (@Model.donation.isRecurring == "Monthly")
                    {
                        <option value="Monthly" selected>Monthly</option>
                        <option value="Once">Once</option>
                    }
                    else
                    {
                        <option value="Monthly">Monthly</option>
                        <option value="Once" selected>Once</option>
                    }
                </select>
                <span asp-validation-for="@Model.donation.isRecurring" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.donation.paymentMethod" class="control-label"></label>
                <select asp-for="@Model.donation.paymentMethod" class="form-control">
                    @if (@Model.donation.paymentMethod == "Credit")
                    {
                        <option value="Credit" selected>Credit</option>
                        <option value="PayPal">Paypal</option>
                    }
                    else
                    {
                        <option value="Credit" selected>Credit</option>
                        <option value="PayPal">Paypal</option>
                    }

                </select>
                <span asp-validation-for="@Model.donation.paymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.donation.paymentAmount" class="control-label"></label>
                <input asp-for="@Model.donation.paymentAmount" class="form-control" />
                <span asp-validation-for="@Model.donation.paymentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="donationFormID" class="control-label">Donation Form</label>
                <select name="donationFormID" class="form-control">
                    @foreach (var donationForm in Model.donationForms)
                    {
                        if (@Model.donation.donationFormID == @donationForm.donationFormID)
                        {
                            <option selected="selected" value="@donationForm.donationFormID">@donationForm.donationCause</option>
                        }
                        else
                        {
                            <option value="@donationForm.donationFormID">@donationForm.donationCause</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
