@model IEnumerable<HospitalProject.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.client_fname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.client_lname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.client_phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.client_emailadd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.date_time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.appointment_details)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctors)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.client_fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.client_lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.client_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.client_emailadd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.appointment_details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctors.DoctorName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.client_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.client_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.client_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
