@model ReflectionIT.Mvc.Paging.PagingList<HospitalProject.Models.PlanYourStay>
@using ReflectionIT.Mvc.Paging
@addTagHelper*,ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<nav aria-label="Plan Your Stay">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ServiceName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RatePerDay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlanYourStayUserID)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatePerDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanYourStayUserID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlanYourStayID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlanYourStayID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlanYourStayID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<nav>
    <vc:pager paging-list="@Model" />
</nav>
