@model IEnumerable<HospitalProject.Models.JobPosting>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.jobTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.jobQualifications)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.jobDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.jobSkills)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.jobPostingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.jobExpiryDate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.jobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobQualifications)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobSkills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobPostingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobExpiryDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.jobPostingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.jobPostingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.jobPostingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
